#header {
    color: burlywood;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    padding: 50px 1em 0;
    background-color: aquamarine;
}

#header a {
    text-decoration: none;
}

#active {
    font-weight: bold;
}