body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

#quote-box {
    width: 30%;
    background-color: white;
    text-align: center;
}